*{
    box-sizing: border-box;
}

div#reproductor{
    width: 25rem;
    height: 2rem;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

input#volumen{
    background-color: orange;
}