*{
    box-sizing: border-box;
}

nav{
    display: flex;    
}

nav > ul{
    display: flex;    
    list-style: none;    
    flex: 100%;
    justify-content: flex-start;
    padding: 0.5rem;
}

nav > ul > li{
    padding: 0.25rem;    
}

nav > ul > li#login{
    flex: 1;
    text-align: right;
}