*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    color: white;
    background-color: deepskyblue;
    padding: 0.5em;
    list-style-type: none;
}

/* Primera opción la de movil */
@media (min-width:0px) and (max-width:767px){
    nav ul{        
        justify-content: center;
        flex-direction: column;      
        text-align: center;            
    }
    li{
        border-bottom: 1px solid lightblue;
        padding: 0.5em;
    }
    li#contacto{
        border: none;
    }
}

@media (min-width:768px) and (max-width:1049px){
    nav ul{                
        flex-direction: row;
        justify-content: space-around;      
    }
    li{
        border: none;
    }
}

@media (min-width:1050px){
    nav ul{           
        /* No hace falta poner el flex-direction:row */
        justify-content: flex-end;
    }
    li{
        padding-right: 2em;
    }
}