*{
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    color: white;
    background-color: deepskyblue;
    padding: 1em;
}

nav ul li{
    list-style-type: none;
}

/* Primera opción la de movil */
@media (min-width:320px){
    nav ul{        
        justify-content: center;
        flex-direction: column;      
        text-align: center;
    }
    li{
        border-bottom: 1px solid rgb(5, 119, 156);
        padding: 0.5em;
    }
}

@media (min-width:768px){
    nav ul{                
        flex-direction: row;
        justify-content: space-around;      
    }
    li{
        border: none;
    }
}

@media (min-width:1050px){
    nav ul{           
        flex-direction: row;
        justify-content: flex-end;        
    }
    li{
        margin-right: 1em;
    }
}