*{
    box-sizing: border-box;
}

/* Estilos generales */
ul{
    list-style: none;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* Estilos específicos */
div#content{
    display: flex;
    flex-flow: row wrap;
}

/* Cabecera */
div#content > header{
    display: flex;
    flex-flow: row wrap;
    flex: 100%;
    align-items: center;
    justify-content: space-around;
}

/* Le ponemos un tamaño al logo */
div#content > header > img#logo{
    width: 200px;
    height: auto;
}

/* El buscador está en una línea */
div#content > header > nav#search{
    flex: 100%;
}

/* Cambiamos el login y la bolsa de la compra */
div#content > header > nav#login-shop{
    display: flex;
    flex-flow: row wrap;
}

div#content > header > nav#login-shop > ul{
    display: flex;
    flex-flow: row wrap;    
}

div#content > header > nav#login-shop > ul > li{
    padding-right: 1.5rem;    
}

div#content > header > nav#login-shop > ul > li > i{    
    font-size: 30px;
    height: auto;
}

/* Cambiamos el div del buscador */
div#content > header > nav#search > div#searcher{
    display: flex;
}

/* El input del buscador ocupa toda la página */
div#content > header > nav#search > div#searcher > input#text-searcher{
    flex: 100%;
    background-color: black;
    height: 3rem;
}

/* Cambiamos de color el placeholder del buscador */
div#content > header > nav#search > div#searcher > input#text-searcher::placeholder{
    color: white;
    padding-left: 4rem;
}

/* Cambiamos la lupita */
div#content > header > nav#search > div#searcher > svg{
    color: white;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 30px;
    height: auto;
}

/* Ocultamos el checkbox */
div#content > header > nav#main-menu > input{
    display: none;
}

/* Ocultamos el menú */
div#content > header > nav#main-menu > div#menu-toggle{
    display: none;
}

div#content > header > nav#main-menu > label > svg{
    cursor: pointer;
}

/* Mostramos el menú al hacer click */
div#content > header > nav#main-menu > input:checked ~ div#menu-toggle{
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: white;
    left: 1%;
}

/* CUERPO */
div#content > main{
    display: flex;
    flex-flow: row wrap;
}

div#content > main > section#section-giftguide{
    display: flex;
    flex-flow: row wrap;
}

div#content > main > section#section-giftguide > div#header-giftguide{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 100%;    
}

/* El texto de gift guide a la izquierda y el botón de filtrar a la derecha */
div#content > main > section#section-giftguide > div#header-giftguide > h2{
    flex: 90%;
}

div#content > main > section#section-giftguide > div#header-giftguide > svg{
    flex: 10%;                
}

/* Los artículos (2 por fila) */
div#content > main > section#section-giftguide > article.category{
    display: flex;    
    flex: 50%;
    padding: 0.25rem;
}

div#content > main > section#section-giftguide > article.category > a > ul.menu-options{
    display: flex;
    padding: 1rem;
}

div#content > main > section#section-giftguide > article.category > a > ul.menu-options > li{
    display: flex;
    padding: 1rem;
}

div#content > main > section#section-giftguide > article.category > a > ul.menu-options > li > img{
    max-width: 200px;
}

/* Footer */

footer{
    display: flex;
    flex-flow: row wrap;
    flex: 100%;    
}

footer > nav{
    background-color: rgb(221, 213, 202);
}

/* Ocupan la mitad cada uno de los dos nav */
footer > nav#additional-menu1{
    flex: 50%;
    padding: 0 2rem;
}

footer > nav#additional-menu2{
    flex: 50%;
    padding: 0 1.25rem;
}

footer > nav#additional-menu1 > h5, footer > nav#additional-menu2 > h5{
    font-size: 20px;    
    border-bottom: 2px solid black;    
}

footer > nav#apps-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer > nav#apps-menu > h5{
    font-size: 20px;
    border-bottom: 1px solid black;    
}

footer > nav#apps-menu > ul{
    display: flex;
}

footer > small{
    font-size: 20px;
    color: grey;
}

@media(min-width:1000px){
    
}


